<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" >
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../css/clearstyle.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/tutorial.css">
  </head>
  <body>

    <article >
      <header>
        <h1>{{ title }}</h1>
      </header>

      {{ content | safe }}
    </article>

    <script src="../../js/highlight.min.js"></script>
    <script type="text/javascript">
      // hljs.config({ cssSelector: 'code' });
      hljs.highlightAll();

      document.querySelectorAll('article>*>code').forEach((item, i) => {
        hljs.highlightElement(item);
      });

    </script>
  </body>
</html>
